*#
*.asc
*.bin
*.class
*.dylib
*.interp
*.jar
*.log
*.md5
*.out
*.ps
*cider-error*
.lein*
form-init*
.#*
.DS_Store
.hara
/hsperfdata_root
/tmp*
/lein-*
/test-scratch
/test-bench
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
/.lein-*
/.nrepl-port
.hgignore
.hg/
.build
/src-infra/*/build
/src-app/**/build
/src-infra/*/.build
/src-app/**/.build
/src-infra/*/live
/temp
*_temp
