{xyz.zcaudate/code.dev
 {:description "generate documentation from code"
  :include [[code.dev :complete]]}
 
 xyz.zcaudate/code.doc
 {:description "generate documentation from code"
  :include [[code.doc :complete]]
  :bundle [{:path "resources" :include ["assets/code.doc"]}]
  :dependencies [markdown-clj/markdown-clj]}
 
 xyz.zcaudate/code.framework
 {:description "source and test management"
  :include [[code.framework :complete]]}
 
 xyz.zcaudate/code.java
 {:description "source and test management"
  :include [[code.java :complete]]}
 
 xyz.zcaudate/code.link
 {:description "code packaging and distribution"
  :include [[code.link :complete]]}
 
 xyz.zcaudate/code.manage
 {:description "source code utils and workflow"
  :include [[code.manage :complete]]
  :bundle [{:path "resources" :include ["assets/code.manage"]}]}

 xyz.zcaudate/code.maven
 {:description "code packaging and distribution"
  :include [[code.maven :complete]]}
 
 xyz.zcaudate/code.project
 {:description "working with projects"
  :include [[code.project :complete]]}
  
 xyz.zcaudate/code.query
 {:description "query for code" 
  :include [[code.query :complete]]}
 
 xyz.zcaudate/code.test
 {:description "easy test framework"
  :include [[code.test :complete]]} 
 xyz.zcaudate/jvm
 {:description "jvm library"
  :include [[jvm :complete]]}
  
 xyz.zcaudate/js.blessed
 {:description "js blessed" 
  :include [[js.blessed :complete]]}
  
 xyz.zcaudate/js.cell
 {:description "js blessed" 
  :include [[js.cell :complete]]}
  
 xyz.zcaudate/js.core
 {:description "js core libraries" 
  :include [[js.core :complete]
            [js.webpack :complete]]}

 xyz.zcaudate/js.lib.bitcoin
 {:description "js bitcoin libraries" 
  :include [[js.lib.bitcoin :complete]]}
 
 xyz.zcaudate/js.lib.chalk
 {:description "js util libraries" 
  :include [[js.lib.chalk :complete]]}

 xyz.zcaudate/js.lib.d3
 {:description "js util libraries" 
  :include [[js.lib.d3 :complete]]}

 xyz.zcaudate/js.lib.datetime
 {:description "js util libraries" 
  :include [[js.lib.datetime :complete]]}
 
 xyz.zcaudate/js.lib.driver
 {:description "js util libraries" 
  :include [[js.lib.driver-postgres :complete]
            [js.lib.driver-redis :complete]
            [js.lib.driver-sqlite :complete]]}

 xyz.zcaudate/js.lib.ethereum
 {:description "js ethereum and solc" 
  :include [[js.lib.eth-bench :complete]
            [js.lib.eth-lib :complete]
            [js.lib.eth-solc :complete]]}

 xyz.zcaudate/js.lib.fastify
 {:description "js ethereum and solc" 
  :include [[js.lib.fastify :complete]]}

 xyz.zcaudate/js.lib.lw-charts
 {:description "js util libraries" 
  :include [[js.lib.lw-charts :complete]]}

 xyz.zcaudate/js.lib.osc
 {:description "open sound control" 
  :include [[js.lib.osc :complete]]}

 xyz.zcaudate/js.lib.p5
 {:description "processing library" 
  :include [[js.lib.p5 :complete]]}
 
 xyz.zcaudate/js.lib.rn
 {:description "js util libraries" 
  :include [[js.lib.rn-expo :base]
            [js.lib.rn-gesture :base]
            [js.lib.rn-paper :base]]}
  
 xyz.zcaudate/js.lib.three
 {:description "js core libraries" 
  :include [[js.lib.three :complete]
            [js.lib.three-extra :complete]
            [js.lib.r3-base :complete]
            [js.lib.r3-cannon :complete]
            [js.lib.r3-drei :complete]
            [js.lib.r3-flex :complete]
            [js.lib.r3-postprocessing :complete]
            [js.lib.react-spring :complete]]}

 xyz.zcaudate/js.lib.ua-parser
 {:description "user agent parser" 
  :include [[js.lib.ua-parser :complete]]}

 xyz.zcaudate/js.lib.valtio
 {:description "js valtio libraries" 
  :include [[js.lib.valtio :complete]]}
 
 xyz.zcaudate/js.react
 {:description "js react libraries" 
  :include [[js.react :base]
            [js.react.helper-portal :base]]}
 
 xyz.zcaudate/js.react-ext
 {:description "js core libraries" 
  :include [[js.react.ext-box :base]
            [js.react.ext-cell :base]
            [js.react.ext-form :base]
            [js.react.ext-log :base]
            [js.react.ext-route :base]
            [js.react.ext-view :base]]}
  
 xyz.zcaudate/js.react-native
 {:description "js react native ui libraries" 
  :include [[js.react-native :complete]]}
 
 xyz.zcaudate/lib.aether
 {:description "wrapper for org.eclipse.aether"
  :include [[lib.aether :complete]]
  :dependencies
  [org.eclipse.aether/aether-api
   org.eclipse.aether/aether-spi
   org.eclipse.aether/aether-util
   org.eclipse.aether/aether-impl
   org.eclipse.aether/aether-connector-basic
   org.eclipse.aether/aether-transport-wagon
   org.eclipse.aether/aether-transport-http
   org.eclipse.aether/aether-transport-file
   org.eclipse.aether/aether-transport-classpath
   org.apache.maven/maven-aether-provider]}
 
 xyz.zcaudate/lib.docker
 {:description "wrapper for docker" 
  :include [[lib.docker :complete]]}
  
 xyz.zcaudate/lib.jdbc
 {:description "jdbc interop"
  :include [[lib.jdbc :complete]]}
   
 xyz.zcaudate/lib.lucene
 {:description "wrapper for lucene"
  :dependencies
  [org.apache.lucene/lucene-core
   org.apache.lucene/lucene-queryparser
   org.apache.lucene/lucene-analyzers-common
   org.apache.lucene/lucene-suggest]}

 xyz.zcaudate/lib.minio
 {:description "wrapper for minio" 
  :include [[lib.minio :complete]]}
  
 xyz.zcaudate/lib.openpgp
 {:description "openpgp that makes sense"
  :include [[lib.openpgp :complete]]
  :dependencies
  [org.bouncycastle/bcprov-jdk15on org.bouncycastle/bcpg-jdk15on]}
  
 xyz.zcaudate/lib.oshi
 {:description "wrapper for com.github.oshi"
  :include [[lib.oshi :complete]]
  :dependencies [com.github.oshi/oshi-core]}

 xyz.zcaudate/lib.postgres
 {:description "wrapper for postgres" 
  :include [[lib.postgres :complete]]
  :dependencies
  [com.impossibl.pgjdbc-ng/pgjdbc-ng]}

 xyz.zcaudate/lib.redis
 {:description "wrapper for redis" 
  :include [[lib.redis :complete]]
  :bundle [{:path "resources" :include ["assets/lib.redis"]}]}

 xyz.zcaudate/lua.aws
 {:description "aws library" 
  :include [[lua.aws   :complete]]}
 
 xyz.zcaudate/lua.core
 {:description "core lua library" 
  :include [[lua.core   :complete]]}
 
 xyz.zcaudate/lua.nginx
 {:description "nginx library" 
  :include [[lua.nginx   :complete]]}

 xyz.zcaudate/lua.ext.plisio
 {:description "plisio library" 
  :include [[lua.ext.plisio   :complete]]}

 xyz.zcaudate/lua.ext.sochain
 {:description "sochain library" 
  :include [[lua.ext.sochain   :complete]]}
  
 xyz.zcaudate/math.infix
 {:description "lisp infix notation"
  :include [[math.infix :complete]]}
  
 xyz.zcaudate/math.parse
 {:description "math and statistics"
  :include [[math.parse :complete]]
  :dependencies [org.scijava/parsington]}
  
 xyz.zcaudate/math.stats
 {:description "math and statistics"
  :include [[math.stats :complete]]
  :dependencies [net.sourceforge.jdistlib/jdistlib]}
 
 xyz.zcaudate/net.http
 {:description "network and http programming"
  :include [[net.http :complete]]}
  
 xyz.zcaudate/net.resp
 {:description "rpc based on the redis protocol"
  :include [[net.resp :complete]]
  :bundle
  [{:path "target/classes" :include ["hara/net/resp"]}]}

 xyz.zcaudate/python
 {:description "python libs and helpers"
  :include [[python :complete]]} 
 
 xyz.zcaudate/rt.basic
 {:description "wrapper for nginx" 
  :include [[rt.basic :complete]]
  :dependencies [http-kit]}
 
 xyz.zcaudate/rt.graal
 {:description "wrapper for graal contexts"
  :include [[rt.graal :complete]]
  :dependencies [org.graalvm.sdk/graal-sdk
                 org.graalvm.js/js
		 org.graalvm.js/js-scriptengine
		 commons-io/commons-io]}
 
 xyz.zcaudate/rt.nginx
 {:description "wrapper for nginx" 
  :include [[rt.nginx :complete]]}
  
 xyz.zcaudate/rt.shell
 {:description "shell runtime"
  :include [[rt.shell :complete]]}
 
 xyz.zcaudate/rt.solidity
 {:description "shell runtime"
  :include [[rt.solidity :complete]]}
 
 xyz.zcaudate/script.css
 {:description "read and write css using clojure"
  :include [[lib.css :complete]]
  :dependencies [garden/garden 
                 net.sourceforge.cssparser/cssparser]}
  
 xyz.zcaudate/script.graphql
 {:description "scripts for graphql"
  :include [[script.graphql :complete]]
  :dependencies [district0x/graphql-query]}
  
 xyz.zcaudate/script.regex
 {:description "scripts for regex"
  :include [[script.regex :complete]]}
  
 xyz.zcaudate/script.sql
 {:description "scripts for sql"
  :include [[script.sql :complete]]}
  
 xyz.zcaudate/script.toml
 {:description "wrapper for toml4j"
  :include [[script.toml :complete]]
  :dependencies [org.yaml/snakeyaml]}
  
 xyz.zcaudate/script.yaml
 {:description "wrapper for scribe"
  :include [[script.yaml :complete]]
  :dependencies [org.yaml/snakeyaml]
  :bundle [{:path "target/classes" :include ["hara/lib/snakeyaml"]}]}
  
 xyz.zcaudate/std.block
 {:description "blocks for code unit representation"
  :include [[std.block :complete]]
  :dependencies [org.clojure/tools.reader]}
  
 xyz.zcaudate/std.config
 {:description "secure configuration"
  :include [[std.config :complete]]
  :optional
  [std.config.ext.gpg
   std.config.ext.json
   std.config.ext.toml
   std.config.ext.yaml]
  :dependencies [borkdude/edamame]}
 
 xyz.zcaudate/std.contract
 {:description "contracts for functions"
  :dependencies [metosin/malli]
  :include [[std.contract :complete]]}
  
 xyz.zcaudate/std.dispatch
 {:description "collection of dispatchers"
  :include [[std.dispatch :exclude [std.dispatch.types]]]}
 
 xyz.zcaudate/std.dom
 {:description "foundation math library"
  :include [[std.dom :complete]]}
  
 xyz.zcaudate/std.html
 {:description "wrapper for org.jsoup"
  :include [[std.html :complete]]
  :dependencies [org.jsoup/jsoup]}
  
 xyz.zcaudate/std.image
 {:description "tools for image manipulation"
  :include [[std.image :complete]]
  :bundle
  [{:path "resources" :include ["assets/std.image"]}
   {:path "target/classes" :include ["hara/lib/image"]}]}

 xyz.zcaudate/std.fs
 {:description "file library"
  :include [[std.fs :complete]]}
 
 xyz.zcaudate/std.json
 {:description "wrapper for com.fasterxml.jackson"
  :include [[std.json :complete]]
  
  :dependencies
  [com.fasterxml.jackson.core/jackson-databind
   com.fasterxml.jackson.datatype/jackson-datatype-jsr310]
  :bundle [{:path "target/classes" :include ["hara/lib/json"]}]}
 
 xyz.zcaudate/std.lang
 {:description "working with other languages"
  :include [[std.lang :complete]]}
  
 xyz.zcaudate/std.lib
 {:description "simple string methods for searching"
  :bundle [{:path "target/classes" 
            :include ["hara/lib/bin"
                      "hara/lib/concurrent"
                      "hara/lib/foundation"
                      "hara/lib/mustache"
                      "hara/lib/security"
                      "hara/lib/stream"]}]
  :include [[std.concurrent :complete]
            [std.lib :complete]
            [std.print :complete]
	    [std.protocol :complete]
            [std.string :complete]
	    [std.task :complete]]}

 
 
 xyz.zcaudate/std.log
 {:description "foundation logging library"
  :include [[std.log :complete]]}

 xyz.zcaudate/std.make
 {:description "make + tmux"
  :include [[std.make :complete]]}
 
 xyz.zcaudate/std.math
 {:description "foundation math library"
  :include [[std.math :complete]]
  :dependencies [org.apache.commons/commons-math3]}
 
 xyz.zcaudate/std.object
 {:description "foundation reflection library"
  :include [[std.object :complete]]}
 
 xyz.zcaudate/std.pretty
 {:description "pretty print library"
  :include [[std.pretty :complete]]
  :dependencies [org.clojure/core.rrb-vector]}
  
 xyz.zcaudate/std.scheduler
 {:description "scheduled runner for timebound execution"
  :include [[std.scheduler :complete]]}
 
 xyz.zcaudate/std.text
 {:description "text diffing and search"
  :include [[std.text :complete]]
  :dependencies [com.googlecode.java-diff-utils/diffutils]}
 
 xyz.zcaudate/std.time
 {:description "time library"
  :include [[std.time :complete]]}
  
 xyz.zcaudate/std.timeseries
 {:description "timeseries manipulation"
  :include [[std.timeseries :complete]]}
  
 xyz.zcaudate/xtalk.lang
 {:description "xtalk language"
  :include [[xt.lang     :complete]
            [xt.module   :complete]]}
 
 xyz.zcaudate/xtalk.system
 {:description "xtalk language"
  :include [[xt.sys     :complete]]}}
