[[:section {:title "Installation"}]]

"Add to `project.clj` dependencies:

    [hara/base \"{{PROJECT.version}}\"]"

"All functions are in the `hara.{{DOCUMENT.title}}` namespace.
     
     (use (quote hara.{{DOCUMENT.title}}))"