{:type       :maven
 :repository "clojars"
 :manifest   [;; library
              xyz.zcaudate/std.lang
              xyz.zcaudate/std.lib
              xyz.zcaudate/std.json
              xyz.zcaudate/std.html
              xyz.zcaudate/std.make
              xyz.zcaudate/xt.lang
              xyz.zcaudate/js.core
              xyz.zcaudate/js.blessed
              xyz.zcaudate/js.react
              xyz.zcaudate/js.react-native]}
